:root {
  --text-color: rgba(255, 255, 255, 0.92);
  --link-color: rgb(0, 102, 204);
  --bg-color: rgba(0, 0, 0, 0.92);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin: 1.3rem;
}

header {
  text-align: center;
}

header a {
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 0.5rem
}
header a:visited {
  color: inherit;
}

/* Large screens */
@media only screen and (min-width: 1080px) {
  body {
    font-size: 1.2rem;
  }
  header a {
    font-size: 1.25rem;
  }
}


h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  text-decoration: underline;
}

hr {
  height: 1px;
  border: none;
  background-color: white;
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
}
